/* this file define some basic variable in the whole framework*/

/* 顶栏导航的样式 */
@defaultcolor: #007BBB;


/*左导航栏的样式变量*/
@leftnav-width: 220px;
@leftnav-bgcolor: #303641;
@leffnav-bgcolor-hv: #1B2838;
@leftnav-frcolor: rgb(233,233,233);
@leftnav-blingcolor: rgb(208, 98, 98);
@leftnav-header-height: 180px;

@leftnav-border: 1px solid #3B4856;

@leftnav-fontsize: 18px;
@leftnav-fontsize-sub: 13px;
